<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Создание пользователя</title>
</head>
<body>
<h1>Создание пользователя</h1>
<form action="#" th:action="@{/save}" th:object="${user}" method="post">
    <label>Имя:</label>
    <input type="text" th:field="*{firstName}" />

    <label>Фамилия:</label>
    <input type="text" th:field="*{lastName}" />

    <label>Возраст:</label>
    <input type="number" th:field="*{age}" />

    <label>Номер группы:</label>
    <input type="text" th:field="*{groupNumber}" />

    <button type="submit">Сохранение</button>
</form>
<a href="/" class="button" >Вернуться ко всем пользователям</a>
</body>
</html>