<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Пользователи</title>
</head>
<body>
<h1>Пользователи</h1>
<a href="/new" class="button">Создать нового пользователя</a>
<table>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>Номер группы</th>
        <th>Действия</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.groupNumber}"></td>
        <td>
            <a th:href="@{/edit/{id}(id=${user.id})}" class="button" >Редактировать</a>
            <a th:href="@{/delete/{id}(id=${user.id})}" class="button">Удалить</a>
        </td>
    </tr>
</table>
</body>
</html>